<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Suixin's Blog</title>
    <link rel="stylesheet" type="text/css" href="/res/css/slidepage.css">
    <link rel="stylesheet" href="/res/css/css-reset.css">
    <link rel="stylesheet" type="text/css" href="/res/css/index.css">
</head>
<body>
<!-- 页面主体 -->
<div class="slidePage-container" id="slidePage-container">
    <div class="item page5 banner banner5">
        <div class="chushu-con step step1 slideDown" data-delay="100">
            <h1 style="font-size: 42px;text-shadow: 0px 1px 2px #ddd;">Welcome to Suixin's Blog</h1>
            <p style="font-size: 16px;">愿你成为自己喜欢的模样，不抱怨，不将就，有自由，有光芒。如果不能，这样也好！</p>
            <button><a class="j-create-book" href="/index">进入博客</a></button>
        </div>
    </div>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>

    $(function () {
        $('.banner5').css("background", "url(/res/images/home/" + 2 + ".jpg) no-repeat");
        $('.banner5').css("background-size", "cover");
    });

</script>
</html>