limit = 10

# HTTP Server配置
[server]
    # 端口号
	Address        = ":80"
	# 静态文件目录
	ServerRoot     = "public"
	# 入口文件
	IndexFiles     = ["index.html","main.html"]
	LogPath        = "./logs/server"
	NameToUriType  = 2
	RouteOverWrite = true

# 全局日志配置
[logger]
    Path   = "./logs"
    Level  = "all"
    Stdout = true

# 模板引擎配置
[viewer]
    Path        = "./template"
    DefaultFile = "index.html"
    #Delimiters  =  ["${", "}"]
    Delimiters  =  ["{{", "}}"]

# 数据库连接
[database]
    [[database.default]]
        link = "mysql:mofan-blog:itmNryLTRFWCPyrR@tcp(172.17.114.172:3306)/mofan-blog"
        debug = true
        # 数据库日志对象配置
        [database.logger]
            Path   = "./logs/sql"
            Level  = "all"
            Stdout = true

# Redis 配置
[redis]
  default = "127.0.0.1:16379,0"
  cache   = "127.0.0.1:16379,1"

